@use "../utilities/variables";
@use "../mixins/pseudo";
@use "../mixins/backgroundMask";

.heading-grid {

    &.nav-background {
        position: relative;

        &:before {
            @include pseudo.pseudoMixinAbsolute($right: 0);
            @include backgroundMask.backgroundMaskMixin("navBgMask.svg", $repeat: repeat, $size: 65px, $maskPosition: center top);
            height: 20rem;
            background-color: var(--light);
        }

        &:after {
            @include pseudo.pseudoMixinAbsolute($right: 0);
            z-index: 0;
            height: 20rem;
            background: radial-gradient(ellipse farthest-side at top right, transparent 0%, var(--dark) 100%);
            background-repeat: no-repeat;
            background-position: center -6.4rem;
            background-size: 100% 26.4rem;
        }

        > * {
            position: relative;
            z-index: 1;
        }
    }

    > h1 {
        max-width: 50rem;
        font-size: 6rem;
        font-weight: 500;
    }

    > p {
        max-width: 70rem;
        font-size: 1.5rem;
    }
}
