@use "../utilities/variables";
@use "../animations/fadeInUp";

section.hero {
    position: relative;
    z-index: 0;
    padding-right: variables.$paddingGutter;
    padding-left: variables.$paddingGutter;
    min-height: 50vw;

    div.hero-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    div.hero-typing-container {
        width: 50%;
        min-width: 60rem;
    }

    div.hero-typing, div.hero-typing > div:not(.hero-typing-background) {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        z-index: 1;
        margin: 0;
        width: 100%;
        max-width: 60rem;

        > div {
            grid-row: 1/-1;
            grid-column: 1/-1;
        }

        > div.hidden {
            visibility: hidden;
        }

        > p {
            &.hero-tag {
                color: var(--primary);
                font-size: 2.4rem;
                font-weight: 300;
            }

            &.hero-main {
                margin-bottom: 0;
                padding: 2.4rem 2.4rem 2.4rem 5.4rem;
                line-height: unset;
                font-family: var(--font-headings);
                font-size: 4.8rem;
                font-weight: 600;
            }
        }
    }

    div.hero-cta {
        display: flex;
        column-gap: 2rem;
        z-index: 1;
        margin-top: 5rem;
        padding: 2.4rem 2.4rem 2.4rem 5.4rem;
        font-family: var(--font-buttons);
        font-size: 2.4rem;

        > button {
            visibility: hidden;
            opacity: 0;

            &.shown {
                animation: fadeInUp 2s cubic-bezier(0.25, 1, 0.5, 1);
                animation-fill-mode: forwards;

                &:nth-of-type(2) {
                    animation-delay: 0.5s;
                }

            }
        }
    }

    div.hero-typing-background {
        position: absolute;
        bottom: 0;
        left: 24px;
        grid-row: auto;
        grid-column: auto;
        opacity: 0.65;
        white-space: pre;
        color: var(--dark-blue-grey);
        font-family: var(--font-code);
        font-size: 0.8rem;
    }

    div.hero-particles-background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;

        > div {
            width: 100%;
            height: 100%;
        }
    }
}
