@use "../utilities/variables";
@use "../mixins/pseudo";
@use "../mixins/media";

nav {
    display: flex;
    position: sticky;
    z-index: 5;
    top: -1px;
    align-items: center;
    width: 100%;
    padding: 0 variables.$paddingGutter;
    background-color: var(--light);
    color: var(--dark);
    font-family: var(--font-body);
    font-weight: 500;
    letter-spacing: 0.01rem;

    > img {
        height: 60px;
    }

    > .nav-background {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.25;
        background-color: var(--dark-blue-grey);
        -webkit-mask-image: url("navBgMask.svg");
        mask-image: url("navBgMask.svg");
        -webkit-mask-position: center bottom;
        mask-position: center bottom;
        -webkit-mask-size: 65px;
        mask-size: auto;

        &:before {
            @include pseudo.pseudoMixinAbsolute($left: 0);
            background: radial-gradient(
                ellipse farthest-side at top right,
                transparent 0%,
                var(--light) 100%
            );
            background-size: 100% 26.4rem;
        }
    }

    > ul {
        display: flex;
        position: relative;
        margin-left: auto;
        padding: 2.4rem * 0.75 0;
        list-style: none;
        justify-self: end;

        &:hover > li.nav-marker {
            opacity: 1;
        }

        > li {
            flex: 0 0 auto;
            padding: 0 3.2rem;
            font-size: 2.2rem;
            text-transform: uppercase;
            cursor: pointer;

            &.nav-marker {
                display: flex;
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: auto;
                height: 100%;
                padding: 2.4rem * 0.75 1rem;
                transition:
                    transform 0.4s ease-out,
                    width 0.4s ease-out,
                    opacity 0.4s ease-out;
                opacity: 0;
                color: var(--primary);

                > svg {
                    width: 1.5rem;
                    height: 100%;

                    &:nth-of-type(1) {
                        margin-right: auto;
                    }

                    > path {
                        fill: var(--primary);
                    }
                }
            }
        }
    }
}

@include media.media-down("md") {
    nav {
        display: grid;
        grid-template-columns: auto 1fr;

        > ul {
            flex-direction: column;
            margin-left: 0;
            gap: 1rem;

            > li {
                text-align: center;
            }
        }
    }
}

@include media.media-down("sm") {
    nav {
        display: flex;
        flex-direction: column;

        > ul {
            padding-top: 0;

            > li {
                text-align: center;
            }
        }
    }
}
