@use "../utilities/colours";
@use "../utilities/variables";
@use "../mixins/pseudo";
@use "../mixins/backgroundMask";

div.portfolio-info-panel {
  transition-property: opacity, visibility, top, left;
  transition-duration: variables.$defaultTransitionDuration;
  transition-timing-function: variables.$defaultEasing;
  pointer-events: none;
  background-color: rgba(map-get(colours.$colours, "light"), 0.95);
}

div.portfolio-masonry-item {
  transition-property: transform;
  transition-duration: variables.$defaultTransitionDuration;
  transition-timing-function: variables.$defaultEasing;

  &:hover {
    transform: scale(1.05);
  }

  &.not-active {
    transform: scale(0.95);
  }
}