@use "../utilities/colours";
@use "../utilities/variables";
@use "../mixins/pseudo";
@use "../mixins/backgroundMask";
@forward "../utilities/classes";

div.portfolio-info-panel {
    transition-property: opacity, visibility, transform;
    transition-duration: variables.$defaultTransitionDuration;
    transition-timing-function: variables.$defaultEasing;
    z-index: -1;
    height: max-content;
    min-height: 100%;
    overflow: hidden;

    &:before, &:after {
        @include pseudo.pseudoMixinAbsolute($left: 0, $bottom: 0, $top: unset, $height: 26.4rem);
    }

    &:before {
        opacity: 0.25;
        z-index: -2;
        -webkit-mask-image: url("navBgMask.svg");
        mask-image: url("navBgMask.svg");
        -webkit-mask-position: center bottom;
        mask-position: center bottom;
        -webkit-mask-size: 65px;
        mask-size: auto;
        background-color: var(--accent-1);
    }

    &:after {
        z-index: -1;
        background: radial-gradient(ellipse farthest-side at bottom left, transparent 0%, var(--dark) 100%) no-repeat bottom left;
        background-size: 100% 26.4rem;
    }

    &.left:after {
        background: radial-gradient(ellipse farthest-side at bottom right, transparent 0%, var(--dark) 100%) no-repeat bottom right;
    }

}

p.portfolio-info-panel-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.portfolio-masonry-item {
    transition-property: transform;
    transition-duration: variables.$defaultTransitionDuration;
    transition-timing-function: variables.$defaultEasing;

    &:hover, &.active {
        transform: scale(1.05);
        z-index: 1;

        &:not(.active) {
            div.portfolio-info-panel {
                @extend .shown;

                &.left {
                    transform: translateX(-100%);
                }

                &.right {
                    transform: translateX(100%);
                }
            }
        }
    }

    &.not-active {
        transform: scale(0.95);
    }

    div.portfolio-masonry-item-image-container {
        transition-property: transform;
        transition-duration: variables.$defaultTransitionDuration;
        transition-timing-function: variables.$defaultEasing;
    }
}

div.portfolio-info-panel-grid {
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    margin-bottom: 0.8rem;

    p {
        margin-bottom: 0;
    }
}

div.portfolio-lightbox {
    z-index: 10;

    &, &:before, .portfolio-lightbox-content-container {
        transition-property: transform;
        transition-duration: variables.$defaultTransitionDuration;
        transition-timing-function: variables.$defaultEasing;
    }

    &:before, .portfolio-lightbox-content-container {
        transform: translateX(100%);
    }

    &:before {
        @include pseudo.pseudoMixinAbsolute($left: 0);
        background-color: var(--dark);
    }

    &.enter-active, &.enter-done {
        &:before, .portfolio-lightbox-content-container {
            transform: translateX(0%);
        }

        .portfolio-lightbox-image-container {
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            height: 100% !important;
        }
    }

    &:not(.enter-active, .enter-done) {
        .portfolio-lightbox-image-container {
            padding: 0 !important;
        }
    }
}

.portfolio-lightbox-image-container {
    transition-property: width, height, top, left, padding;
    transition-duration: variables.$defaultTransitionDuration;
    transition-timing-function: variables.$defaultEasing;
}

.portfolio-lightbox-tag {
    rotate: 180deg;
    margin: 0;
    writing-mode: vertical-lr;
    text-orientation: sideways;
}