@use "../utilities/colours";
@use "../utilities/variables";
@use "../mixins/pseudo";
@use "../mixins/hiddenTransition";
@use "../mixins/backgroundMask";
@use "../mixins/buttonGradient";
@use "../mixins/media";

.technologies {
    position: relative;
    z-index: 1;
    overflow: hidden;

    > * {
        z-index: 1;
    }
}
