@use "sass:math";
@use "../utilities/functions";

@mixin flexBasisMixin($columns: 1, $gapInPx: 0) {
    $targetWidth: math.div(1, $columns);
    @if (unit($gapInPx) == "rem") {
        $gapInPx: $gapInPx * 10;
    }
    $gutter: ((1-$targetWidth)*$gapInPx);
    flex-basis: calc(#{math.percentage($targetWidth)} - #{functions.strip-unit($gutter)}px);
}