$colours: ("primary": #006633, "dark" : #0C0C0C, "light": #F5F5F5, "accent-1": #666A86, "accent-2": #788AA3);

:root {
  @each $colour, $hex in $colours {
    --#{$colour}: #{$hex};
    .text-#{$colour} {
      color: #{$hex};
    }
    .bg-#{$colour} {
      background-color: #{$hex};
    }
  }
}
