$colours: ("primary": #006633, "dark" : #0c0c0c, "light": #f5f5f5, "light-2": #dddddd, "dark-blue-grey": #666a86, "shadow-blue": #788aa3);

:root {
    @each $colour, $hex in $colours {
        --#{$colour}: #{$hex};
        .text-#{$colour} {
            color: #{$hex};
        }
        .bg-#{$colour} {
            background-color: #{$hex};
        }
    }
}
