@use "scss-reset/reset";
@use "animations";
@use "common";
@use "utilities";
@use "backgrounds";
//components last to allow overriding of classes
@use "components";

body,
html,
#root {
    background-color: var(--dark);
    width: 100%;
    min-height: 100%;
    color: var(--light);
}

body {
    scroll-behavior: smooth;
    scroll-margin: 6.6rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}
