@use "../mixins/buttonGradient";

button,
a.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    cursor: pointer;
    padding: 1.2rem 2.4rem;
    width: 20rem;
    text-decoration: none;
    color: var(--light);
    font-size: 2.4rem;
    font-weight: 300;

    &.small {
        padding: 0.8rem 1.6rem;
        font-size: inherit;
    }

    &.url {
        padding: 0.4rem 0.8rem;
        width: 10rem;
        font-size: 1.5rem;
    }

    &:not(.button-solid) {
        @include buttonGradient.buttonGradientMixin();

        &.red {
            background-image: linear-gradient(
                120deg in oklab,
                oklab(62% 0.17 0.12) 0%,
                oklab(54% 0.15 0.1) 100%
            );
        }
    }
}

$staggeredDelay: 0.5s;
$buttonCount: 4;

.button-animation-staggered > button {
    &.animation-start {
        @for $i from 2 through $buttonCount {
            &:nth-of-type(#{$i}) {
                animation-delay: ($i - 1) * $staggeredDelay;
            }
        }
    }
}
