@use "../mixins/buttonGradient";

button, a.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    padding: 1.2rem 2.4rem;
    border-radius: 1000px;
    color: var(--light);
    font-size: 2.4rem;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;

    &.small {
        padding: 0.8rem 1.6rem;
        font-size: inherit;
    }

    &.url{
        padding: 0.4rem 0.8rem;
        font-size: 1.5rem;
        width: 10rem;
    }

    &:not(.button-solid) {
        @include buttonGradient.buttonGradientMixin();
    }
}

$staggeredDelay: 0.5s;
$buttonCount: 4;

.button-animation-staggered > button {
    &.animation-start {
        @for $i from 2 through $buttonCount {
            &:nth-of-type(#{$i}) {
                animation-delay: ($i - 1) * $staggeredDelay;
            }
        }
    }
}

